
{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
  <h1>{{subject.subject}} Sem {{subject.sem}}</h1>
  <h1> Attendence Report:</h1>
  <br><br><hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Classes Conducted</th>
        <th>Classes Attended</th>
        <th>% Attendence</th>
      </tr>
    </thead>
    <tbody>
      {% for i,j in report.items %}
      <tr>
        <td>{{i}}</td>
        <td>{{total_class}}</td>
        <td>{{j}}</td>
        <td><span id="{{i}}" ></span></td>
        <script type="text/javascript">
            document.getElementById("{{i}}").innerHTML = (({{j}}*100)/{{total_class}}).toFixed(2)
        </script>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



{% endblock %}
