{% extends "base.html" %}

{% block content %}

<h1>{{class.name}}</h1>
<h2>Total Students : {{ class.students.count }}</h2>
<p>Subject : {{ class.subject }}</p>
<p>Subject Code : {{ class.subject_code }}</p>
<p>Sem : {{ class.sem }}</p>

{% if user in class.students.all %}

  <a href="{% url 'user:leave' slug=class.slug %}"
  class="btn btn-lg btn-fill btn-warning"> <span
  class="'glyphicon glyphicon-remove-circle'"></span>Leave</a>

  {% else %}
  <a href="{% url 'user:join' slug=class.slug %}"
  class="btn btn-lg btn-fill btn-primary"> <span
  class="'glyphicon glyphicon-ok-circle'"></span>Join</a>

{% endif %}

{% endblock %}
