{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1>Faculty : {{class.teacher.username}} </h1>
  <p>Subject : {{ class.subject }} </p>
  <p>Subject Code : {{ class.subject_code }}</p>
  <p>Sem : {{class.sem}} </p>
  <p>Total Students : {{ class.students.count }}</p>
  {% if user.username != class.teacher.username %}
  {% if user in class.students.all %}

    <a href="{% url 'user:leave' slug=class.slug %}"
    class="btn btn-lg btn-fill btn-warning"> <span
    class="'glyphicon glyphicon-remove-circle'"></span>Leave</a>

    {% else %}
    <a href="{% url 'user:join' slug=class.slug %}"
    class="btn btn-lg btn-fill btn-primary"> <span
    class="'glyphicon glyphicon-ok-circle'"></span>Join</a>

  {% endif %}
  {% else %}
  <a href="{% url 'user:attendence_list' class_id=class.id %}"><button class="btn btn-primary">Mark Attendence</button></a>
  &emsp;
  <a href="{% url 'user:marks_list' class_id=class.id %}"><button class="btn btn-secondary">Enter Marks</button></a>
  {%  endif %}


</div>





{% endblock %}
