{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>{{user.username}}'s Marks Report</h1>
  <br><hr><br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Subject</th>
        <th>LA1</th>
        <th>LA2</th>
        <th>MSE1</th>
        <th>MSE2</th>
        <th>MSE3</th>
        <th>SEE</th>
      </tr>
    </thead>
    <tbody>
      {% for i,j in report.items %}
      <tr>
        <td>{{i}}</td>
        {% for p,q in j.items  %}
        <td>{{q}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
